<div
  id="search-wrapper"
  data-url="{{ "" | absLangURL }}"
>
  <div
    id="search-modal"
  >
    <header class="search-header">
      <form class="search-form">
        <div class="search-icon">
          {{ safeHTML (index $.Site.Data.svg "search") }}
        </div>
        <input
          type="search"
          id="search-query"
          class="search-input"
          placeholder="{{ i18n "search.input_placeholder" }}"
          tabindex="0"
        />
      </form>
      <button
        id="close-search-button"
        class="icon-hover"
        title="{{ i18n "search.close_button_title" }}"
      >
        {{ safeHTML (index $.Site.Data.svg "xmark") }}
      </button>
    </header>
    <section class="search-section">
      <ul id="search-results">
        <!-- <li class="mb-2">
          <a class="flex items-center px-3 py-2 rounded-md appearance-none bg-neutral-100 dark:bg-neutral-700 focus:bg-primary-100 hover:bg-primary-100 dark:hover:bg-primary-900 dark:focus:bg-primary-900 focus:outline-dotted focus:outline-transparent focus:outline-2" href="${value.item.permalink}" tabindex="0">
            <div class="grow">
              <div class="-mb-1 text-lg font-bold">${value.item.title}</div>
              <div class="text-sm text-neutral-500 dark:text-neutral-400">${value.item.section}<span class="px-2 text-primary-500">&middot;</span>${value.item.date}</span></div>
              <div class="text-sm italic">${value.item.summary}</div>
            </div>
            <div class="ml-2 ltr:block rtl:hidden text-neutral-500">&rarr;</div>
            <div class="mr-2 ltr:hidden rtl:block text-neutral-500">&larr;</div>
          </a>
        </li> -->
      </ul>
    </section>
  </div>
</div>