#search-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: 50;
  padding: 1rem;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  cursor: default;
  backdrop-filter: blur(5px);

  @media (min-width: 640px) {
    padding: 1.5rem;
  }
  @media (min-width: 768px) {
    padding: 10vh;
  }
  @media (min-width: 1024px) {
    padding: 12vh;
  }
}

#search-modal {
  display: flex;
  top: 5rem;
  flex-direction: column;
  width: 100%;
  max-width: 48rem;
  min-height: 0;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-left: auto;
  margin-right: auto;
  color: var(--primary);
  background-color: var(--entry);
  border: 2px solid var(--theme);
}

.search-header {
  display: flex;
  position: relative;
  z-index: 10;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: none;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 2rem; 
  height: 2rem; 
  color: var(--primary-dim);
}

.search-form {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
}

.search-input {
  display: flex;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  flex: 1 1 auto;
  height: 3rem;
  appearance: none;
  border: 2px solid var(--link-hover-color);
  color: var(--primary);
  padding: 5px;
  padding-left: 15px;
}

#close-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}

#search-results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-section {
  overflow: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1 1 auto;
}

#search-button { 
  font-size: 26px;
  margin: auto 4px;
}

.search-item-link {
  display: flex; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 0.75rem;
  padding-right: 0.75rem; 
  align-items: center; 
  border-radius: 0.375rem; 
  appearance: none; 

  :hover {
    transition: background-color 0.05s ease;
    background: var(--link-hover-color)
  }
}

.search-item {
  border-radius:0.375rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 0.75rem;
  padding-right: 0.75rem; 
  flex-grow: 1;
  background: var(--code-bg);
}

.search-title {
  margin-bottom: -0.25rem; 
  font-size: 1.125rem;
  line-height: 1.75rem; 
  font-weight: 700; 
}

.search-date {
  font-size: 0.875rem;
  line-height: 1.25rem; 
  color: var(--primary-dim);
}

.search-summary {
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-style: italic; 
}